@font-face {
  font-family: titulo;
  src: url(../fonts/titulo.otf);
}

@font-face {
  font-family: subtitulo;
  src: url(../fonts/subtitulo.ttf);
}

@font-face {
  font-family: texto;
  src: url(../fonts/texto.otf);
}

.title {
  font-family: titulo !important;
}

.subtitle {
  font-family: subtitulo !important;
}

.text {
  font-family: texto !important;
}

.bg-humo {
  background-color: #E4DDB3;
  background-size: cover;
  background-position: center;
}
.text-humo {
  color: #E4DDB3;
}
.bg-hueso{
  background-color: #E0DCE4;
  background-size: cover;
  background-position: center;
}
.text-hueso{
  color: #E0DCE4;
}

.bg-naranja {
  background-color: #E9993A;
  background-size: cover;
  background-position: center;
}

.text-naranja {
  color: #E9993A;
}

.bg-marron {
  background-color: #AB511D;
  background-size: cover;
  background-position: center;
}

.text-marron {
  color: #AB511D;
}

.bg-lago {
  background-color: #57BFB3;
  background-size: cover;
  background-position: center;
}

.text-lago {
  color: #2B7784;
}

.bg-rojo {
  background-color: #AD3335;
  background-size: cover;
  background-position: center;
}

.text-rojo {
  color: #AD3335 !important;
}
.text-justify{
    text-align: justify;
}
.margen-h{
  margin-top: -150px;
}
.body-m{
  margin-top: 3%;
  margin-bottom: 7%;
}
/* negative margin top */
.mnt-1{
  margin-top: -8px !important;
}
.box-2{
  background-color: rgba(255, 255, 255, 0.423);
  border-radius: 50px;
}
.btn-demo {
  /* display: flex;
  align-items: flex-end; */
  font-weight: bold;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: linear-gradient(0deg, rgb(219, 69, 40, 1) 0%, rgb(197, 8, 11, 1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em rgba(219, 69, 40, 0.596);
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-demo:hover {
  box-shadow: 0 0.5em 1.5em -0.5em rgba(219, 69, 40, 0.519);
}

.btn-demo:active {
  box-shadow: 0 0.3em 1em -0.5em rgba(219, 69, 40, 0.519);
}
