  <header-web (dataEvent)='setLanguage($event)'></header-web>
<section class="container-fluid mb-5 px-0">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="container text-center">
        <h3 class="title text-lago">GALILEO-ERP EN TU NEGOCIO</h3>
        <div class="px-5">
          <p class="lh-sm text fw-bold">Simple e intuitivo, Galileo-ERP es un sistema que te ayuda a gestionar tu empresa y generar ventas con facturación electrónica, control de inventario y mucho más.</p>
          <p class="text lh-sm text-justify">La empresa Yachay, propone el software más completo de gestión empresarial y facturación electrónica integrado en la nube con el mismo poder que las aplicaciones tradicionales, pero a solo una fracción de costo y complejidad.</p>
          <a class="btn btn-danger btn-lg subtitle" href="#" role="button"> Solicitar mas información </a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 px-5 pb-5 mt-3">
    <h4 class="subtitle text-center text-lago fw-bold mb-3">Galileo-ERP es un sistema que se adapta a tu negocio, puedes usarlo en:</h4>
    <div class="row px-5">
      <div class="col-3 text-center">
        <img src="../../assets/image/servicios/erp-1.png" class="img-fluid" alt="">
        <h3 class="fw-bold title text-lago">Tiendas</h3>
      </div>
      <div class="col-3 text-center">
        <img src="../../assets/image/servicios/erp-2.png" class="img-fluid" alt="">
        <h3 class="fw-bold title text-lago">Colegios</h3>
      </div>
      <div class="col-3 text-center">
        <img src="../../assets/image/servicios/erp-3.png" class="img-fluid" alt="">
        <h3 class="fw-bold title text-lago">Minimarket</h3>
      </div>
      <div class="col-3 text-center">
        <img src="../../assets/image/servicios/erp-4.png" class="img-fluid" alt="">
        <h3 class="fw-bold title text-lago">Grifos</h3>
      </div>
      <div class="w-100 my-3"></div>
      <div class="col-3 text-center">
        <img src="../../assets/image/servicios/erp-8.png" class="img-fluid" alt="">
        <h3 class="fw-bold title text-lago">Hoteles</h3>
      </div>
      <div class="col-3 text-center">
        <img src="../../assets/image/servicios/erp-6.png" class="img-fluid" alt="">
        <h3 class="fw-bold title text-lago">Bares</h3>
      </div>
      <div class="col-3 text-center">
        <img src="../../assets/image/servicios/erp-7.png" class="img-fluid" alt="">
        <h3 class="fw-bold title text-lago">Ferreterías</h3>
      </div>
      <div class="col-3 text-center">
        <img src="../../assets/image/servicios/erp-9.png" class="img-fluid" alt="">
        <h3 class="fw-bold title text-lago">Clínicas</h3>
      </div>
    </div>
  </div>
</section>
<section class="container mb-5 pb-5">
  <h1 class="text-center fw-bold title">GAlileo ERP en tu Negocio</h1>
  
</section>
  <!-- <body class="aurora">
    <div class="aurora-one"></div>
    <div class="aurora-two"></div>
    <div class="aurora-three"></div>
    <h3 class="aurora-text text-white">Aurora</h3>
  </body> -->
  <footer-web class="mt-5"></footer-web>
