  <header-web (dataEvent)='setLanguage($event)'></header-web>
<section class="container-fluid my-5 px-0">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="container text-center">
        <h2 class="title text-lago">GALILEO-ERP EN TU NEGOCIO</h2>
        <div class="px-5">
          <p class="lh-sm text fw-bold">Simple e intuitivo, Galileo-ERP es un sistema que te ayuda a gestionar tu empresa y generar ventas con facturación electrónica, control de inventario y mucho más.</p>
          <p class="text lh-sm text-justify">La empresa Yachay, propone el software más completo de gestión empresarial y facturación electrónica integrado en la nube con el mismo poder que las aplicaciones tradicionales, pero a solo una fracción de costo y complejidad.</p>
          <a class="btn btn-danger btn-lg subtitle my-2" href="#" role="button"> Solicitar mas información </a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 px-5 pb-5 mt-3">
    <h4 class="subtitle text-center text-lago fw-bold mb-3">Galileo-ERP es un sistema que se adapta a tu negocio, puedes usarlo en:</h4>
    <div class="row px-5">
      <div class="col-3 text-center">
        <img src="../../assets/image/servicios/erp-1.png" class="img-fluid" alt="">
        <h3 class="fw-bold title text-lago">Tiendas</h3>
      </div>
      <div class="col-3 text-center">
        <img src="../../assets/image/servicios/erp-2.png" class="img-fluid" alt="">
        <h3 class="fw-bold title text-lago">Colegios</h3>
      </div>
      <div class="col-3 text-center">
        <img src="../../assets/image/servicios/erp-3.png" class="img-fluid" alt="">
        <h3 class="fw-bold title text-lago">Minimarket</h3>
      </div>
      <div class="col-3 text-center">
        <img src="../../assets/image/servicios/erp-4.png" class="img-fluid" alt="">
        <h3 class="fw-bold title text-lago">Grifos</h3>
      </div>
      <div class="w-100 my-3"></div>
      <div class="col-3 text-center">
        <img src="../../assets/image/servicios/erp-8.png" class="img-fluid" alt="">
        <h3 class="fw-bold title text-lago">Hoteles</h3>
      </div>
      <div class="col-3 text-center">
        <img src="../../assets/image/servicios/erp-6.png" class="img-fluid" alt="">
        <h3 class="fw-bold title text-lago">Bares</h3>
      </div>
      <div class="col-3 text-center">
        <img src="../../assets/image/servicios/erp-7.png" class="img-fluid" alt="">
        <h3 class="fw-bold title text-lago">Ferreterías</h3>
      </div>
      <div class="col-3 text-center">
        <img src="../../assets/image/servicios/erp-9.png" class="img-fluid" alt="">
        <h3 class="fw-bold title text-lago">Clínicas</h3>
      </div>
    </div>
  </div>
</section>
<section class="container mb-5 pb-5">
  <h1 class="text-center fw-bold title text-lago">GAlileo ERP en tu Negocio</h1>
  <div class="w-100">
    <div class="row mt-5">
      <div class="col-lg-6 col-12">
          <div class="card border-0 mb-3">
              <div class="row no-gutters d-flex align-items-center">
                  <div class="col-md-3">
                      <img src="../../assets/image/recursos/ico-1.png" class="card-img" alt="...">
                  </div>
                  <div class="col-md-9">
                      <div class="card-body text-start">
                          <h5 class="card-title titulo"><u>Reportes Inteligentes</u></h5>
                          <p class="card-text text-left color-1 text">Información relevante en tiempo real para analizar tu negocio. Personaliza tus reportes según tus necesidades</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-12">
          <div class="card border-0 mb-3">
              <div class="row no-gutters d-flex align-items-center">
                  <div class="col-md-3">
                      <img src="../../assets/image/recursos/ico-2.png" class="card-img" alt="...">
                  </div>
                  <div class="col-md-9">
                      <div class="card-body text-start">
                          <h5 class="card-title titulo"><u>Inventarios</u></h5>
                          <p class="card-text text-left color-1 text">Consulta el estado de tu inventario en tiempo real</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-12">
          <div class="card border-0 mb-3">
              <div class="row no-gutters d-flex align-items-center">
                  <div class="col-md-3">
                      <img src="../../assets/image/recursos/ico-3.png" class="card-img" alt="...">
                  </div>
                  <div class="col-md-9">
                      <div class="card-body text-start">
                          <h5 class="card-title titulo"><u>Clientes y Proveedores</u></h5>
                          <p class="card-text text-left color-1 text">Lleva el registro de todos tus clientes, el histórico de ventas, deudas, los saldos y todos sus movimientos.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-12">
          <div class="card border-0 mb-3">
              <div class="row no-gutters d-flex align-items-center">
                  <div class="col-md-3">
                      <img src="../../assets/image/recursos/ico-4.png" class="card-img" alt="...">
                  </div>
                  <div class="col-md-9">
                      <div class="card-body text-start">
                          <h5 class="card-title titulo"><u>Facturación Electrónica</u></h5>
                          <p class="card-text text-left color-1 text">Declara tus comprobantes inmediatamente y no tengas problemas con SUNAT</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-12">
          <div class="card border-0 mb-3">
              <div class="row no-gutters d-flex align-items-center">
                  <div class="col-md-3">
                      <img src="../../assets/image/recursos/ico-5.png" class="card-img" alt="...">
                  </div>
                  <div class="col-md-9">
                      <div class="card-body text-start">
                          <h5 class="card-title titulo"><u>Ventas, Ingresos y Gastos</u></h5>
                          <p class="card-text text-left color-1 text">Lleva el control de tu flujo de dinero, registra tus ventas, ingresos y gastos.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-12">
          <div class="card border-0 mb-3">
              <div class="row no-gutters d-flex align-items-center">
                  <div class="col-md-3">
                      <img src="../../assets/image/recursos/ico-6.png" class="card-img" alt="...">
                  </div>
                  <div class="col-md-9 text-start">
                      <div class="card-body">
                          <h5 class="card-title titulo"><u>Acceso Móvil</u></h5>
                          <p class="card-text text-left color-1 text">Acceda por la pagina web o descargue el App desde cualquier lugar</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
</section>
<!-- <section class="container-fluid mb-5 pb-5">
  <div class="container my-5">
    <div class="caja"><i class="fas fa-quote-left fa2"></i>
      <div class="text"><i class="fas fa-quote-right fa1"></i>
        <div>
          <h3 class="text-rojo title font-weight-bold">YACHAY ACPRODEC</h3>
          <p class="text-white fw-bold"><small class="texto-box">Lorem ipsum dolor, sit amet consectetur adipisicing elit. A illo mollitia pariatur rem repellendus, at omnis praesentium natus hic dolor?</small></p>
        </div>
      </div>
    </div>
  </div>
</section> -->
  <!-- <body class="aurora">
    <div class="aurora-one"></div>
    <div class="aurora-two"></div>
    <div class="aurora-three"></div>
    <h3 class="aurora-text text-white">Aurora</h3>
  </body> -->
  <footer-web class="mt-5"></footer-web>
