<header class="main-header">
  <div class="logo"><a href="#"><img src="../../assets/image/recursos/Yachay.png" class="img-fluid" alt=""></a></div>
  <div class="main-search d-none">
    <div class="search-button">
      <button class="subtitle" type="button"><i class="fa fa-search"></i>Search</button>
    </div>
    <div class="searcher">
      <input type="text" value="" placeholder="Buscar...">
      <button type="submit"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <div class="actions">
    <button type="button" class="menu-toggle"><i class="fa fa-navicon"></i>menu</button>
  </div>
  <nav class="main-menu">
    <ul>
      <li><a class="subtitle" [routerLink]="['/home']"  routerLinkActive="active"><i class="fa fa-home"></i>Home</a></li>
      <li><a class="subtitle" [routerLink]="['/comercio']" (click)="movePage(end)" routerLinkActive="active"><i class="fas fa-store"></i>Comercio</a></li>
      <li><a class="subtitle" [routerLink]="['/hoteles']"  routerLinkActive="active"><i class="fas fa-hotel"></i>Hotel</a></li>
      <!-- <li>
        <a href="#"><i class="fa fa-male"></i>Account</a>
        <ul class="sub-menu">
          <li><a href="#">¿Perdió su contraseña?</a></li>
          <li><a href="#">Realizar pedido pagar</a></li>
          <li><a href="#">¿Perdió su contraseña?</a></li>
        </ul>
      </li> -->
      <li><a class="subtitle" [routerLink]="['/restaurante']"  routerLinkActive="active"><i class="fas fa-utensils"></i>Restaurante</a></li>
      <li><a class="subtitle" [routerLink]="['/contacto']"  routerLinkActive="active"><i class="far fa-envelope" (click)="movePage(end)"></i>Contacto</a></li>
    </ul>
  </nav>
  <div class="user-info">
    <ul>
      <li><a class="subtitle" href="#"><i class="fas fa-eye"></i>Galileo ERP</a></li>
      <li><a class="subtitle" [routerLink]="['/contacto']" (click)="movePage(end)"><i class="fa fa-shopping-cart"></i>Obtenerlo ya!</a></li>
    </ul>
  </div>
</header>
<div *ngIf="!hotel && !restaurante && !Comercio" id="carouselExampleControls" class="carousel slide margen-h"
  data-bs-ride="carousel">
  <div class="carousel-inner">
    <div ng class="carousel-item active">
      <img src="../../assets/image/carrousel/carrousel-2.png" class="d-none d-md-block w-100 img-fluid" alt="...">
      <img src="../../assets/image/carrousel/movil-1.jpg" class="d-block d-md-none w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/image/carrousel/carrousel-3.png" class="d-none d-md-block w-100 img-fluid" alt="...">
      <img src="../../assets/image/carrousel/movil-2.jpg" class="d-block d-md-none w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/image/carrousel/carrousel-4.png" class="d-none d-md-block w-100 img-fluid" alt="...">
      <img src="../../assets/image/carrousel/movil-3.jpg" class="d-block d-md-none w-100 img-fluid" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div *ngIf="Comercio" id="carouselExampleControls" class="carousel slide margen-h px-0"
  data-bs-ride="carousel">
  <div class="carousel-inner px-0">
    <div ng class="carousel-item active">
      <img src="../../assets/image/carrousel/comercio.png" class="d-none d-md-block w-100 img-fluid" alt="...">
      <img src="../../assets/image/carrousel/comercio-movil-1.png" class="d-block d-md-none w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/image/carrousel/comercio-2.png" class="d-none d-md-block w-100 img-fluid" alt="...">
      <img src="../../assets/image/carrousel/comercio-movil-2.png" class="d-block d-md-none w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/image/carrousel/comercio-3.png" class="d-none d-md-block w-100 img-fluid" alt="...">
      <img src="../../assets/image/carrousel/comercio-movil-3.png" class="d-block d-md-none w-100 img-fluid" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div #end></div>
