<header-web (dataEvent)='setLanguage($event)'></header-web>
<section class="w-100 bg-hueso">
  <div class="container-fluid p-5 bg-humo">
    <div class="row d-flex justify-content-evenly">
      <div class="col-10 offset-1">
        <div class="container text-center">
          <h3 class="lh-sm title text-lago">Gestiona toda tu empresa de forma online cómo, cuando y desde donde quieras
          </h3>
        </div>
      </div>
      <div class="w-100 mt-4"></div>
      <div class="col-2 text-center">
        <div class="card border-0 bg-transparent">
          <img src="../../assets/image/recursos/logo-1.png" class="card-img-top img-fluid" alt="...">
          <div class="card-body text-center lh-sm">
            <h5 class="card-title mb-0 subtitle text-lago fw-bolder text-center lh-1">Acceso desde cualquier lugar</h5>
            <p class="card-text lh-1 text-justify mt-1 text fw-bold"><small>Función 100% en la nube, te permite acceder
                desde cualquiera locación y dispositivo.</small></p>
          </div>
        </div>
      </div>
      <div class="col-2 text-center">
        <div class="card border-0 bg-transparent">
          <img src="../../assets/image/recursos/logo-2.png" class="card-img-top img-fluid" alt="...">
          <div class="card-body text-center lh-sm">
            <h5 class="card-title mb-0 subtitle text-lago fw-bold lh-1">Rapido y facil de usar</h5>
            <p class="card-text lh-1 text-justify mt-1 text fw-bold"><small>Configuracion segun las necesidades de tu
                empresa en cuestion de minutos</small></p>
          </div>
        </div>
      </div>
      <div class="col-2 text-center">
        <div class="card border-0 bg-transparent">
          <img src="../../assets/image/recursos/logo-3.png" class="card-img-top img-fluid" alt="...">
          <div class="card-body text-center lh-sm">
            <h5 class="card-title mb-0 subtitle text-lago fw-bold lh-1">Crece con nosotros</h5>
            <p class="card-text lh-1 text-justify mt-1 text fw-bold"><small>Herramientas que te permiten tomar las
                mejores decisiones para hacer crecer tu negocio.</small></p>
          </div>
        </div>
      </div>
      <div class="col-2 text-center">
        <div class="card border-0 bg-transparent">
          <img src="../../assets/image/recursos/logo-4.png" class="card-img-top img-fluid" alt="...">
          <div class="card-body text-center lh-sm">
            <h5 class="card-title mb-0 subtitle text-lago fw-bold lh-1">Maxima seguridad</h5>
            <p class="card-text lh-1 text-justify mt-1 text fw-bold"><small>Tu informacion de manera segura,
                confidencialidad con nuestros clientes.</small></p>
          </div>
        </div>
      </div>
      <div class="col-2 text-center">
        <div class="card border-0 bg-transparent">
          <img src="../../assets/image/recursos/logo-5.png" class="card-img-top img-fluid" alt="...">
          <div class="card-body text-center lh-sm">
            <h5 class="card-title mb-0 subtitle text-lago fw-bold lh-1">Implementacion global</h5>
            <p class="card-text lh-1 text-justify mt-1 text fw-bold"><small>Nuestro equipo esta preparado para ayudarte
                a implementar y usar el sistema desde cualquier lugar.</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <svg class="separator" width="100%" height="120" viewBox="0.1 0.1 180 40" preserveAspectRatio="none">
    <g transform="translate(-18.298844,-77.973964)">
      <path style="fill:#2B7784;"
        d="M 31.615583,86.351641 H 192.16499 v 26.901969 c 0,0 -32.03411,-14.237983 -59.62682,-12.72484 -22.34188,1.2252 -54.779359,9.72634 -54.779359,9.72634 0,0 -22.029534,3.62882 -34.471238,-1.88988 -12.441702,-5.51871 -11.67199,-22.013589 -11.67199,-22.013589 z" />
      <path style="fill:#E4DDB3;"
        d="M 18.441597,78.106256 H 198.58126 v 39.288614 c 0,0 -43.10672,-27.825245 -73.47599,-19.687823 -30.369264,8.137423 -46.832208,12.548653 -46.832208,12.548653 0,0 -32.775418,8.05972 -46.735258,0 C 17.577964,102.19598 18.441597,78.106256 18.441597,78.106256 Z" />
    </g>
  </svg>
</section>
<section class="w-100">
  <div class="container-fluid p-5 bg-hueso">
    <div class="row">
      <div class="col-10 offset-1">
        <div class="d-flex align-items-center">
          <div class="nav flex-column nav-pills text-center mt-2" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">
            <a class="nav-link active p-2 text-center" id="v-pills-point-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-point" type="button" role="tab" aria-controls="v-pills-point"
              aria-selected="true">
              <img src="../../assets/image/recursos/sistema-1.png" class="img-fluid" alt="">
            </a>
            <a class="nav-link" id="v-pills-inventory-tab p-2" data-bs-toggle="pill" data-bs-target="#v-pills-inventory"
              type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
              <img src="../../assets/image/recursos/sistema-2.png" class="img-fluid" alt="">
            </a>
            <a class="nav-link" id="v-pills-webs-tab p-2" data-bs-toggle="pill" data-bs-target="#v-pills-webs"
              type="button" role="tab" aria-controls="v-pills-webs" aria-selected="false">
              <img src="../../assets/image/recursos/sistema-3.png" class="img-fluid" alt="">
            </a>
            <a class="nav-link" id="v-pills-facts-tab p-2" data-bs-toggle="pill" data-bs-target="#v-pills-facts"
              type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <img src="../../assets/image/recursos/sistema-4.png" class="img-fluid" alt="">
            </a>
            <a class="nav-link" id="v-pills-reports-tab p-2" data-bs-toggle="pill" data-bs-target="#v-pills-reports"
              type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <img src="../../assets/image/recursos/sistema-5.png" class="img-fluid" alt="">
            </a>
          </div>
          <div class="tab-content container bg-white bord" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-point" role="tabpanel"
              aria-labelledby="v-pills-point-tab">
              <div class="text-center p-5">
                <h2 class="fw-bold title text-rojo">PUNTO DE VENTA</h2>
                <p class="text-start text-marron lh-sm fw-bold text">Nuestro punto de venta se puede configurar segun
                  las necesidades de nuestros
                  clientes, con funciones personalizadas para una mejor interacción.</p>
                <img src="../../assets/image/galeria/punto.jpg" class="img-fluid" style="max-height: 650px;" alt="">
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-inventory" role="tabpanel" aria-labelledby="v-pills-inventory-tab">
              <div class="text-center p-5">
                <h2 class="fw-bold title text-lago">GESTIÓN DE INVENTARIO</h2>
                <p class="text-start text-marron lh-sm fw-bold text">Registra productos y sus características, tendrás
                  información del stock en tiempo real, podrás realizar transferencias entre almacenes/sucursales.</p>
                <img src="../../assets/image/galeria/inventario.jpg" class="img-fluid" style="max-height: 650px;"
                  alt="">
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-webs" role="tabpanel" aria-labelledby="v-pills-webs-tab">
              <div class="text-center p-5">
                <h2 class="fw-bold title text-lago">CONEXIÓN WEB</h2>
                <p class="text-start text-marron lh-sm fw-bold text">Nuestro sistema puede conectarse con tu pagina web
                  y mediante la pasarela de pagos te permite vender tus productos online a cualquier hora.</p>
                <img src="../../assets/image/galeria/web.jpg" class="img-fluid" style="max-height: 650px;" alt="">
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-facts" role="tabpanel" aria-labelledby="v-pills-facts-tab">
              <div class="text-center p-5">
                <h2 class="fw-bold title text-lago">FACTURACIÓN ELECTRONICA</h2>
                <p class="text-start text-marron lh-sm fw-bold text">El sistema cuenta con todas las certificaciones y
                  autorizaciones por parte de "SUNAT" para ayudarte a emitir y declarar cualquier tipo de comprobante
                  electrónico.</p>
                <img src="../../assets/image/galeria/facts.jpg" class="img-fluid" style="max-height: 650px;" alt="">
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-reports" role="tabpanel" aria-labelledby="v-pills-reports-tab">
              <div class="text-center p-5">
                <h2 class="fw-bold title text-lago">REPORTES INTELIGENTE</h2>
                <p class="text-start text-marron lh-sm fw-bold text">Podrás visualizar cuanto vendes , productos que más
                  vendes, obtén acceso directo a la información clave con los reportes inteligentes para una mejor toma
                  de decisiones, hazlo desde cualquier lugar.</p>
                <img src="../../assets/image/galeria/report.jpg" class="img-fluid" style="max-height: 650px;" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="wrapper">
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div> -->
    <div class="container wrapper rounded bg-white text-center py-5 my-5">
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h2 class="fw-bold text-lago title">SOPORTE TÉCNICO</h2>
      <div class="row mt-5">
        <div class="col-10 offset-1">
          <div class="row d-flex align-items-center">
            <div class="col-4 text-center">
              <img src="../../assets/image/recursos/soporte.png" class="img-fluid mb-2" alt="">
              <h5 class="subtitle bg-title mx-auto fw-bold">SOPORTE CONTINUO</h5>
            </div>
            <div class="col-8 text-start">
              <p class="fw-bold text text-lago"><u>Equipo de atención al cliente disponible los 7 Dias de la semana.</u>
              </p>
              <ul class="lista text mt-1">
                <li>Solución de consultas por nuestros canales.</li>
                <li>Soporte técnico permanente de forma presencial y virtual (teléfono, Skype, Teamviewer, etc.)</li>
                <li>Envió de reportes automáticos.</li>
              </ul>
            </div>
            <div class="w-100 my-3"></div>
            <div class="col-8 text-start">
              <p class="fw-bold text text-lago"><u>Nuevas funcionalidades y mejoras continuas incluidas en tu plan sin
                  cargo adicional.</u></p>
              <ul class="lista text mt-1">
                <li>Actualizaciones coordinadas para optimizar las operaciones.</li>
                <li>Soporte en las actualizaciones</li>
                <li>Sistema adaptándose continuamente al usuario.</li>
              </ul>
            </div>
            <div class="col-4 text-center">
              <img src="../../assets/image/recursos/actulizacion.png" class="img-fluid mb-2" alt="">
              <h5 class="subtitle bg-title mx-auto fw-bold">ACTUALIZACIONES SIN COSTO</h5>
            </div>
            <div class="w-100 my-3"></div>
            <div class="col-4 text-center">
              <img src="../../assets/image/recursos/capacitacion.png" class="img-fluid mb-2" alt="">
              <h5 class="subtitle bg-title mx-auto fw-bold">CAPACITACIÓN TOTAL</h5>
            </div>
            <div class="col-8 text-start">
              <p class="fw-bold text text-lago"><u>Capacitación gratuita al personal de la empresa en el uso del
                  software todo el tiempo del servicio.</u></p>
              <ul class="lista text mt-1">
                <li>Capacitación gratuita al personal de la empresa en el uso del software todo el tiempo del servicio.
                </li>
                <li>Manual disponible para nuestros usuarios.</li>
                <li>Instalación y capacitación en los primeros días de adquirir el servicio.</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <svg class="separator" width="100%" height="120" viewBox="0.1 0.1 180 40" preserveAspectRatio="none">
    <g transform="translate(-18.298844,-77.973964)">
      <path style="fill:#AD3335;"
        d="M 31.615583,86.351641 H 192.16499 v 26.901969 c 0,0 -32.03411,-14.237983 -59.62682,-12.72484 -22.34188,1.2252 -54.779359,9.72634 -54.779359,9.72634 0,0 -22.029534,3.62882 -34.471238,-1.88988 -12.441702,-5.51871 -11.67199,-22.013589 -11.67199,-22.013589 z" />
      <path style="fill:#E0DCE4;"
        d="M 18.441597,78.106256 H 198.58126 v 39.288614 c 0,0 -43.10672,-27.825245 -73.47599,-19.687823 -30.369264,8.137423 -46.832208,12.548653 -46.832208,12.548653 0,0 -32.775418,8.05972 -46.735258,0 C 17.577964,102.19598 18.441597,78.106256 18.441597,78.106256 Z" />
    </g>
  </svg>
</section>
<section class="py-5">
  <div class="col-4 mx-auto">
    <div class="container text-center">
      <h2 class="title text-lago">NUESTROS ASOCIADOS</h2>
    </div>
  </div>
  <div id="flex-container" class="testimonials">
    <div id="left-zone">
      <ul class="list">
        <li class="item">
          <input type="radio" id="radio_testimonial-1" name="basic_carousel" checked="checked" />
          <label class="label_testimonial-1" for="radio_testimonial-1">Galileo ERP</label>
          <div class="content-test content_testimonial-1">
            <span class="picto"></span>
            <h1>Software Electrónico</h1>
            <p class="text lh-sm"><small>Nuestro sistema de gestión empresarial y facturación electrónica Galileo-ERP,
                cabe mencionar que nos diferenciamos por dar un SISTEMA INTEGRAL COMPLETO con un SOPORTE CONTINUO Y
                PERSONALIZADO.</small></p>
            <p class="testimonialFrom fw-bold">SUNAT</p>
            <!-- <p class="testimonialState">Rochester, NY</p> -->
          </div>
        </li>
        <li class="item">
          <input type="radio" id="radio_testimonial-2" name="basic_carousel" />
          <label class="label_testimonial-2" for="radio_testimonial-2">Microsoft Azure</label>
          <div class="content-test content_testimonial-2">
            <span class="picto"></span>
            <h1 class="title">Microsoft Azure</h1>
            <p class="text lh-sm"><small>Todos tus comprobantes son almacenados en la Nuve de Microsoft Azure ,la cual
                brinda el servicio de respaldos automáticos diarios y replicación geográfica de datos.Su información
                esta asegurada.</small></p>
            <p class="testimonialFrom fw-bold">Microsoft</p>
            <!-- <p class="testimonialState">Tucson, AZ</p> -->
            <br>
          </div>
        </li>
        <li class="item">
          <input type="radio" id="radio_testimonial-3" name="basic_carousel" />
          <label class="label_testimonial-3" for="radio_testimonial-3">Comprobantes</label>
          <div class="content-test content_testimonial-3">
            <span class="picto"></span>
            <h1>Comprobante Electrónico</h1>
            <p class="text lh-sm"><small>Resolución Sunat 097/2012 - Aprueba el uso de emisión de comprobantes
                electrónicos, desde los sistemas del contribuyente permitiendo escoger la solución que mas se adapte a
                sus necesidades.</small></p>
            <p class="testimonialFrom">SUNAT</p>
            <!-- <p class="testimonialState">Monterey, CA</p> -->
          </div>
        </li>
        <li class="item">
          <input type="radio" id="radio_testimonial-4" name="basic_carousel" />
          <label class="label_testimonial-4" for="radio_testimonial-4">Nubefact</label>
          <div class="content-test content_testimonial-4">
            <span class="picto"></span>
            <h1>Servicios Electrónicos</h1>
            <p class="text lh-sm"><small>Es actualmente una de las OSE (Operador de servicios electrónicos) reconocidos
                por Sunat, la cual asegura el cumplimiento de las condiciones Su información esta asegurada</small></p>
            <p class="testimonialFrom">Yachay</p>
            <!-- <p class="testimonialState">Somerset, VA</p> -->
            <br>
          </div>
        </li>
      </ul>
    </div>
    <div id="right-zone"></div>
  </div>
  <div class="container my-5">
    <div class="row d-flex align-items-stretch">
      <div class="col-3 p-5 bg-lago">
        <h2 class="title text-rojo">Nuestros Clientes</h2>
        <p class="text fw-bold text-white lh-sm">Contamos con mas de 3 años de experiencia ofreciendo sistemas de facturación,
          electronica y desarrollo de software en general, actualmente contamos con una cartera de mas de 200 clientes
          atendidos en la ciudad de Cusco, Puno, Abancay y Lima</p>
      </div>
      <div class="col-9 bg-white p-5">
        <img class="img-clientes" src="../../assets/image/empresas/1.png" width="100" />
        <img class="img-clientes" src="../../assets/image/empresas/2.png" width="100" />
        <img class="img-clientes" src="../../assets/image/empresas/3.png" width="100" />
        <img class="img-clientes" src="../../assets/image/empresas/4.png" width="100" />
        <img class="img-clientes" src="../../assets/image/empresas/5.png" width="100" />
        <img class="img-clientes" src="../../assets/image/empresas/6.png" width="100" />
        <img class="img-clientes" src="../../assets/image/empresas/7.png" width="100" />
        <img class="img-clientes" src="../../assets/image/empresas/8.png" width="100" />
        <img class="img-clientes" src="../../assets/image/empresas/9.png" width="100" />
        <img class="img-clientes" src="../../assets/image/empresas/10.png" width="100" />
        <img class="img-clientes" src="../../assets/image/empresas/11.png" width="100" />
        <img class="img-clientes" src="../../assets/image/empresas/12.png" width="100" />
      </div>
    </div>
  </div>
  <div class="w-100 mt-5">
    <div class="w-prueba text-center">
      <h2 class="title text-lago">SOLICITAR UNA DEMO GRATIS</h2>
      <p class="text-justify text fw-bold lh-sm">Estamos listos para ayudarte a decidir si nuestras soluciones se
        ajusten a
        los requerimientos que necesita tu negocio. Agenda una demostración de 30 minutos con nostros sin ningun
        compromiso. Gustosos te atenderemos</p>
      <button class="btn-demo subtitle mt-3" role="button">Solicita una demo gratis</button>
    </div>
  </div>
  <div class="w-100 mt-5">
    <div class="container">
    </div>
  </div>
</section>
<section class="section-bubble5">
  <footer-web></footer-web>
</section>
