.flexing {
  display: flex;
  flex-direction: column;
  height: 70vh;
}
@media screen and (min-width: 1000px) {
  .flexing {
    flex-direction: row;
  }
}

.section {
  flex: 1;
  position: relative;
  transition: 0.5s ease;
}
.section--lake {
  background-color: #57BFB3;
}
.section--smoke {
  background-color: #E4DDB3;
}
.section--red {
  background-color: #DB4528;
}
.section--bone {
  background-color: #E0DCE4;
}
.section--yellow{
  background-color: #F8B935;
}
.section:hover, .section:active, .section:focus {
  flex: 3;
}
.section:hover .title, .section:active .title, .section:focus .title {
  transform: translate(-50%, -50%) rotate(0);
}
/* .section:hover .texto-1, .section:active .texto-1, .section:focus .texto-1 {
  transform: translate(-50%, 90%) rotate(0);
} */
@media screen and (min-width: 1000px) {
  .section:hover .title, .section:active .title, .section:focus .title {
    transform: translate(-50%, -50%) scale(1.25);
  }
}
.section .title {
  font-family: "title";
  font-size: 2rem;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}
/* .section .texto-1 {
  font-family: "text";
  font-size: 14px;
  line-height: 90%;
  left: 20%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -80%);
  transition: 0.5s ease;
} */
@media screen and (min-width: 1000px) {
  .section .title {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
/* @media screen and (min-width: 1000px){
  .section .texto-1 {
    transform: translate(-30%, -70%) rotate(90deg);
  }
} */

