  <header-web (dataEvent)='setLanguage($event)' [hotel]='true'></header-web>
  <!-- <body class="aurora">
    <div class="aurora-one"></div>
    <div class="aurora-two"></div>
    <div class="aurora-three"></div>
    <h3 class="aurora-text text-white">Aurora</h3>
  </body> -->
  <section class="container-fluid body-m">
    <div class="row">
      <div class="col-6 offset-3">
        <div class="container text-center">
          <h2 class="title fw-bold text-rojo">GESTIONA TU HOTEL O HOSPEDAJE</h2>
          <p class="text-justify text fw-bold text-lago lh-1">Se trata de un software hotelero muy fácil de instalar y
            de usar, diseñado para hoteles y hospedajes medianos. Se trata de un SaaS (Software as a Service), lo que
            significa que está basado “en la nube”</p>
        </div>
      </div>
    </div>
    <div class="container-fluid pb-5">
      <div class="flexing">
        <div class="section section--orange">
          <h3 class="title">CRONOGRAMA</h3>
          <p class="texto-1">Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="section section--bone">
          <h3 class="title">GESTIONA</h3>
        </div>
        <div class="section section--lake">
          <h3 class="title">INVENTARIO</h3>
        </div>
        <div class="section section--marron">
          <h3 class="title">FACTURACION</h3>
        </div>
        <div class="section section--red">
          <h3 class="title">RESERVAS</h3>
        </div>
      </div>
    </div>
  </section>
  <footer-web class="mt-5"></footer-web>
