<header-web (dataEvent)='setLanguage($event)'></header-web>
<div class="container-fluid body-m">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="container text-center">
        <h2 class="title fw-bold text-rojo">GALILEO - ERP MOVIL</h2>
        <p class="text-justify text fw-bold text-lago lh-1 mb-2">Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Voluptates maiores voluptatem nisi odit nesciunt corrupti autem dolores? Est, quos voluptatum.</p>
        <p class="text-justify text fw-bold text-lago lh-1">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Dolore at dignissimos molestiae ipsam, voluptatem placeat laborum consequuntur quidem minus ea.</p>
      </div>
    </div>
    <div class="col-12 my-5">
      <div class="row d-flex align-items-center">
        <div class="col-5 px-0">
          <div class="carousel"
            data-flickity='{ "bgLazyLoad": 1, "autoPlay": true, "wrapAround": false, "fullscreen": true }'>
            <img src="../../assets/image/movil/pedidos-1.jpg" class="carousel-cell" alt="">
            <img src="../../assets/image/movil/pedidos-2.jpg" class="carousel-cell" alt="">
            <img src="../../assets/image/movil/pedidos-3.jpg" class="carousel-cell" alt="">
            <!-- <div class="carousel-cell" data-flickity-bg-lazyload="https://unsplash.it/480/645/?random"></div>
            <div class="carousel-cell" data-flickity-bg-lazyload="https://unsplash.it/480/646/?random"></div> -->
          </div>
        </div>
        <div class="col-7">
          <div class="container p-3">
            <h3 class="text-lago text-center title fw-bold">Lorem ipsum dolor sit amet.</h3>
            <p class="subtitle fw-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus tempore,
              necessitatibus culpa sit sunt suscipit excepturi incidunt perspiciatis provident rerum?</p>
            <ul class="text fw-bold list-center">
              <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, qui!</li>
              <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, qui!</li>
              <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, qui!</li>
              <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, qui!</li>
              <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, qui!</li>
            </ul>
            <div class="row mt-3">
              <div class="col-6 px-0">
                <div class="card border-0 bg-pantano">
                  <div class="card-body">
                    <h5 class="text-center title text-naranja">Lorem, ipsum dolor.</h5>
                    <p class="text-justify text fw-bold text-humo lh-sm">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Officia aut repudiandae labore, asperiores sint, praesentium consectetur cum
                      repellendus aperiam assumenda tempora voluptas omnis modi et, inventore corrupti pariatur alias
                      animi.</p>
                  </div>
                </div>
              </div>
              <div class="col-6 px-0">
                <div class="card border-0 bg-humo">
                  <div class="card-body">
                    <h5 class="text-center title text-naranja">Lorem, ipsum dolor.</h5>
                    <p class="text-justify text text-lago lh-sm fw-bold">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Officia aut repudiandae labore, asperiores sint, praesentium consectetur cum
                      repellendus aperiam assumenda tempora voluptas omnis modi et, inventore corrupti pariatur alias
                      animi.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 my-5">
      <div class="row d-flex align-items-center">
        <div class="col-7">
          <div class="container p-3">
            <h3 class="text-lago text-center title fw-bold">Lorem ipsum dolor sit amet.</h3>
            <p class="subtitle fw-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus tempore,
              necessitatibus culpa sit sunt suscipit excepturi incidunt perspiciatis provident rerum?</p>
            <ul class="text fw-bold list-center">
              <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, qui!</li>
              <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, qui!</li>
              <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, qui!</li>
              <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, qui!</li>
              <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, qui!</li>
            </ul>
            <div class="row mt-3">
              <div class="col-6 px-0">
                <div class="card border-0 bg-pantano">
                  <div class="card-body">
                    <h5 class="text-center title text-naranja">Lorem, ipsum dolor.</h5>
                    <p class="text-justify text fw-bold text-humo lh-sm">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Officia aut repudiandae labore, asperiores sint, praesentium consectetur cum
                      repellendus aperiam assumenda tempora voluptas omnis modi et, inventore corrupti pariatur alias
                      animi.</p>
                  </div>
                </div>
              </div>
              <div class="col-6 px-0">
                <div class="card border-0 bg-humo">
                  <div class="card-body">
                    <h5 class="text-center title text-naranja">Lorem, ipsum dolor.</h5>
                    <p class="text-justify text text-lago lh-sm fw-bold">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Officia aut repudiandae labore, asperiores sint, praesentium consectetur cum
                      repellendus aperiam assumenda tempora voluptas omnis modi et, inventore corrupti pariatur alias
                      animi.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5 px-0">
          <div class="carousel"
            data-flickity='{ "bgLazyLoad": 1, "autoPlay": true, "wrapAround": false, "fullscreen": true }'>
            <img src="../../assets/image/movil/pedidos-1.jpg" class="carousel-cell" alt="">
            <img src="../../assets/image/movil/pedidos-2.jpg" class="carousel-cell" alt="">
            <img src="../../assets/image/movil/pedidos-3.jpg" class="carousel-cell" alt="">
            <!-- <div class="carousel-cell" data-flickity-bg-lazyload="https://unsplash.it/480/645/?random"></div>
            <div class="carousel-cell" data-flickity-bg-lazyload="https://unsplash.it/480/646/?random"></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer-web></footer-web>
