/* .hr-1{
  border-radius: 5px;
  height: 10px;
  background-color: #2B7784;
} */
.border-movil{
  border: solid #57BFB3 5px;
  border-radius: 20px;
}

.hr-1 {
  padding: 5;
  border: none;
  border-top: line double #2B7784;
  color: #2B7784;
  text-align: center;
}
.hr-1:after {
  content: "🅨🅐🅒🅗🅐🅨";
  display: inline-block;
  position: relative;
  font-weight: bold;
  top: -0.7em;
  font-size: 1.3em;
  padding: 0 0.25em;
  background: white;
}
