  <header-web (dataEvent)='setLanguage($event)' [restaurante]='true'></header-web>
  <section class="container text-center my-4 px-5">
    <h2 class="color-1 title fw-bold text-rojo">FÁCIL Y MUY INTUITIVO</h2>
    <div class="row">
      <div class="col-8 offset-2">
        <div class="container">
          <p class="subtitle mt-2 mb-0 fw-bold text-justify">Este moderno software para restaurantes propone una solución global, escalable y adaptada a tu negocio. Galileo-ERP cubre todas las necesidades del restaurante, mejora la
            eficiencia, optimiza los recursos e incrementa los beneficios de la empresa.</p>
          <p class="subtitle fw-bold text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt neque ut earum, velit exercitationem quidem laudantium ea, quae explicabo unde id vel molestiae debitis doloribus
            quisquam a ad, numquam placeat! dolor sit amet, consectetur consectetur</p>
          <button class="btn-demo subtitle mt-3" role="button"><strong class="fw-bold">Solicitar Información</strong></button>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid px-5">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-12 p-md-5 py-3 px-5">
        <h3 class="text-center text-rojo font-weight-bold px-4 pt-2 pb-0 title">Fácil y Simple</h3>
        <hr>
        <p class="subtitle lh-sm text-justify">Permite el control visual de la ocupación de las mesas, puedes gestionar tus
          órdenes a cocina, generar comprobantes electrónicos de ventas y mucho más .</p>
      </div>
      <div class="col-md-6 col-12 text-center p-3">
        <img src="../../assets/image/galeria/rest-1.png" class="img-fluid" alt="">
      </div>
    </div>
    <div class="row align-items-center" style="background-color: #1197B2">
      <div class="col-md-6 col-12 text-center p-3 order-md-1 order-2">
        <img src="../../assets/image/galeria/rest-2.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-6 col-12 p-5 order-md-2 order-1">
        <h3 class="text-center text-rojo font-weight-bold px-4 py-2 title">Impresión en las Diferentes Áreas</h3>
        <hr>
        <p class="text-white text-justify fw-bold subtitle lh-sm">El sistema hace impresión de órdenes a cocina de los diferentes pedidos que se encuentran en las mesas, así
          mismo, puede tener muchos puntos de venta en diferentes áreas de su restaurante. En la cocina obtendrán una
          comanda legible, fácil de leer e interpretar para que la operación sea óptima.</p>
      </div>
    </div>
    <div class="row align-items-center mt-5" style="background-color: #E8E9F3">
      <div class="col-md-6 col-12 p-md-5 px-5 py-3 text-center">
        <h3 class="font-weight-bold p-3 title text-rojo">Rápida Implementación</h3>
        <hr>
        <p class="fw-bold text-dark subtitle lh-sm text-justify">La implementación es uno de los puntos críticos, una vez establecido lo que se necesita y habiendo comprobado
          las facilidades técnicas, procedemos con la instalación y configuración de equipos y software, para luego en cuestión de minutos poder realizar las pruebas y capacitación que dejarán funcionando el sistema el mismo día
          de la implantación, procediendo al seguimiento respectivo para que tu negocio y tus colaboradores se habitúen rápidamente al uso del sistema.</p>
      </div>
      <div class="col-md-6 col-12 text-center p-3">
        <img src="../../assets/image/galeria/rest-3.png" class="img-fluid" alt="">
      </div>
    </div>
    <div class="row align-items-center mt-5" style="background-color: #DDF0DD">
      <div class="col-md-6 col-12 text-center p-3 order-md-1 order-2">
        <img src="../../assets/image/galeria/rest-4.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-6 col-12 p-5 order-md-2 order-1">
        <h3 class="text-center fw-bold text-rojo px-4 mb-3 title">Facturación Electrónica</h3>
        <hr>
        <p class="subtitle text-justify text-dark">Tanto si ya estás obligado por SUNAT o si deseas utilizarlo de forma voluntaria, puedes integrar al proceso
          de Comprobantes Electrónicos, permitiendo gestionar asi Facturas, boletas, notas de crédito, notas de débito y guías de remisión, además si lo necesitas puedes usar nuestra plataforma online para realizar comprobantes
          desde cualquier dispositivo que tenga acceso a internet y navegador web (PC, laptop, tablet, smartphone, etc.).</p>
      </div>
    </div>
  </section>
  <article class="row d-flex justify-content-center">
    <div class="col-12 my-3">
      <div class="container">
        <div class="px-md-5 px-2 py-3 text-center">
          <h1 class="titulo color-1 d-none d-md-block">Otras ventajas de contar con un sistema de gestión hotelera (PMS)
          </h1>
          <h3 class="titulo color-1 d-block d-md-none">Otras ventajas de contar con un sistema de gestión hotelera (PMS)
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12 px-md-5 px-4">
      <ul class="text">
        <li>Reportes de Rooming List</li>
        <li>Reportes de ocupación</li>
        <li>Gestión de cuentas por cobrar y pagar</li>
        <li>Soporte permanente: Chat, Whatsapp, teléfono</li>
      </ul>
    </div>
    <div class="col-md-4 col-12 px-md-5 px-4">
      <ul class="text">
        <li>Manejo de distintos puntos de venta (Recepción, Restaurant, Bar, etc).</li>
        <li>Múltiples usuarios</li>
        <li>Reporte de huespedes</li>
        <li>Reporte de cierre de caja</li>
      </ul>
    </div>
  </article>
  <footer-web class="mt-5"></footer-web>
