  <header-web (dataEvent)='setLanguage($event)' [restaurante]='true'></header-web>
  <div class="container text-center my-4">
    <h2 class="title fw-bold text-rojo">FÁCIL Y MUY INTUITIVO</h2>
    <p class="text mt-4 mb-0 fw-bold text-justify">Este moderno software para restaurantes propone una solución global,
      escalable y adaptada a tu negocio. Galileo-ERP cubre todas las necesidades del restaurante, mejora la eficiencia,
      optimiza los recursos e incrementa los beneficios de la empresa.</p>
    <p class="subtitle fw-bold text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt neque ut
      earum, velit exercitationem quidem laudantium ea, quae explicabo unde id vel molestiae debitis doloribus quisquam
      a ad, numquam placeat! dolor sit amet, consectetur consectetur</p>
    <button type="button" class="btn btn-secondary btn-lg mt-2 text">Solicitar Informacion</button>
  </div>
  <section class="">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-12 p-md-5 py-3 px-5">
        <h3 class="text-center font-weight-bold p-4 titulo color-1">Fácil y Simple</h3>
        <hr class="linea-2">
        <p class="text text-justify">Permite el control visual de la ocupación de las mesas, puedes gestionar tus
          órdenes a cocina, generar comprobantes electrónicos de ventas y mucho más .</p>
      </div>
      <div class="col-md-6 col-12 text-center p-3">
        <img src="img/restaurante-2.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="row align-items-center" style="background-color: #D3D3D3">
      <div class="col-md-6 col-12 text-center p-3 order-md-1 order-2">
        <img src="img/restaurante-3.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-6 col-12 p-5 order-md-2 order-1">
        <h3 class="text-center font-weight-bold p-4 color-1 titulo">Impresión en las Diferentes Áreas</h3>
        <hr class="linea-2">
        <p>El sistema hace impresión de órdenes a cocina de los diferentes pedidos que se encuentran en las mesas, así
          mismo, puede tener muchos puntos de venta en diferentes áreas de su restaurante. En la cocina obtendrán una
          comanda legible, fácil de leer e interpretar para que la operación sea óptima.</p>
      </div>
    </div>
    <div class="row align-items-center" style="background-color: #10858d">
      <div class="col-md-6 col-12 p-md-5 px-5 py-3 text-center">
        <h3 class="font-weight-bold p-3 titulo text-dark">Rápida Implementación</h3>
        <hr class="linea-2">
        <p>La implementación es uno de los puntos críticos, una vez establecido lo que se necesita y habiendo comprobado
          las facilidades técnicas, procedemos con la instalación y configuración de equipos y software, para luego en
          cuestión de minutos poder realizar las pruebas y capacitación que dejarán funcionando el sistema el mismo día
          de la implentación, procediendo al seguimiento respectivo para que tu negocio y tus colaboradores se habituen
          rápidamente al uso del sistema.</p>
      </div>
      <div class="col-md-6 col-12 text-center p-4">
        <img src="img/restaurante-5.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="row align-items-center" style="background-color: #DDF0DD">
      <div class="col-md-6 col-12 text-center p-3 order-md-1 order-2">
        <img src="img/restaurante-1.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-6 col-12 p-5 order-md-2 order-1">
        <h3 class="text-center font-weight-bold px-4 mb-3 titulo color-1">Facturación Electrónica</h3>
        <hr class="linea-2">
        <p>Tanto si ya estás obligado por SUNAT o si deseas utilizarlo de forma voluntaria, puedes integrar al proceso
          de Comprobantes Electronicos, permitiendo gestionar asi Facturas, boletas, notas de crédito, notas de débito y
          guías de remisión, además si lo necesitas puedes usar nuestra plataforma online para realizar comprobantes
          desde cualquier dispositivo que tenga acceso a internet y navegador web (PC, laptop, tablet, smartphone,
          etc.).</p>
      </div>
    </div>
  </section>
  <article class="row d-flex justify-content-center">
    <div class="col-12 my-3">
      <div class="container">
        <div class="px-md-5 px-2 py-3 text-center">
          <h1 class="titulo color-1 d-none d-md-block">Otras ventajas de contar con un sistema de gestión hotelera (PMS)
          </h1>
          <h3 class="titulo color-1 d-block d-md-none">Otras ventajas de contar con un sistema de gestión hotelera (PMS)
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12 px-md-5 px-4">
      <ul class="text">
        <li>Reportes de Rooming List</li>
        <li>Reportes de ocupación</li>
        <li>Gestión de cuentas por cobrar y pagar</li>
        <li>Soporte permanente: Chat, Whatsapp, teléfono</li>
      </ul>
    </div>
    <div class="col-md-4 col-12 px-md-5 px-4">
      <ul class="text">
        <li>Manejo de distintos puntos de venta (Recepción, Restaurant, Bar, etc).</li>
        <li>Múltiples usuarios</li>
        <li>Reporte de huespedes</li>
        <li>Reporte de cierre de caja</li>
      </ul>
    </div>
  </article>
  <footer-web class="mt-5"></footer-web>
