.carousel {
  background: #e4ddb367;
  border-radius: 15px;
  padding: 5px 15px;
}

.carousel-cell {
  width: 50%;
  height: 650px;
  margin: 10px;
  background: #8C8;
  border-radius: 15px;
  background-position: center center;
  background-size: cover;
}
.border-movil{
  border: solid #57BFB3 5px;
  border-radius: 20px;
}
/* .hr-1{
  border-radius: 5px;
  height: 10px;
  background-color: #2B7784;
} */
.hr-1 {
  padding: 0;
  border: none;
  border-top: medium double #2B7784;
  color: #2B7784;
  text-align: center;
}
.hr-1:after {
  content: "YACHAY";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}
